.owl_animation {
  width: 352px;
  height: 352px;
  border-radius: 50%;
  background: #c4c4c4;
  margin: auto;
  margin-top: 64px;
  margin-bottom: 54px;
}

.start_button {
  margin-left: 16em;
  margin-right: 16em;
  display: grid;
  grid-template-columns: 100%;
}

.buttons {
  margin-top: -4em;
  margin-left: 8em;
  margin-right: 8em;
  display: grid;
  grid-template-columns: 50% 50% ;
}


.hide_button {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear .25s, opacity .25s linear;
}

.show_button {
  opacity: 100;
  transition: opacity 1s linear;
  transition-delay: .25s;
}
